body {
    font-family: Arial, sans-serif;
    background-color: #d9d9d9;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #3b6024;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo h2 {
    font-size: 18px;
    margin: 0;
    color: white;
}

.navbar .icon svg {
    width: 28px;
    height: 28px;
    stroke: white;
}

/* Logout */
.logout-form {
    margin: 0;
}

.logout-icon {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.logout-icon svg {
    width: 28px;
    height: 28px;
    stroke: white;
}

/* Container e Cards */
.container {
    display: grid;
    grid-template-columns: repeat(2, 220px);
    gap: 60px;
    justify-content: center;
    align-content: center;
    height: calc(100vh - 60px);
}

.card {
    background-color: #3b6024;
    color: white;
    border-radius: 12px;
    width: 220px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.3);
    transition: transform 0.2s ease;
    text-decoration: none;
}

.card:hover {
    transform: scale(1.05);
}

.card svg {
    width: 45px;
    height: 45px;
    margin-bottom: 12px;
    stroke: white;
}

.card-emp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 480px;
    height: 70px;
    padding: 10px;
    background-color: #3b6024;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    transition: transform 0.2s, background-color 0.2s;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.card-emp svg {
    width: 36px;
    height: 36px;
    margin-bottom: 5px;
    stroke: white;
}

.card-emp span {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.card-emp:hover {
    background-color: #2f4d1a;
    transform: translateY(-2px);
}